In [38]:
def solution(arr):
    answer = []
    if 2 not in arr:
        answer=[-1]
    else:    
        first=arr.index(2)
        print(first)
        second=arr[::-1].index(2)
        print(-second)
        answer=arr[first:-second]

    return answer

In [39]:
solution([1, 1, 1])

[-1]

In [51]:
def solution(arr, query):
    answer = arr
    for i in query:
        print(i)
        if i%2==0:
            answer=answer[:i+1]
        else:
            answer=answer[i:]
    return answer

In [52]:
solution([0, 1, 2, 3, 4, 5],[4, 1, 2])

4
1
2

[1, 2, 3]

In [53]:
def solution(arr, query):
    for i in range(len(query)):
        print(query[i])
        if i % 2 == 0 :
            arr = arr[:query[i]+1]
        else :
            arr = arr[query[i]:]
    return arr

In [54]:
solution([0, 1, 2, 3, 4, 5],[4, 1, 2])

4
1
2

[1, 2, 3]